- name: Get restore site access token
  connection: local
  shell: curl -X POST -u "{{AUTH_RESOURCE}}:{{AUTH_SECRET}}" -d "grant_type=client_credentials" "https://api.github.com"
  register: AUTH_TOKEN

